@page "/"
@using BlazorAppDELETE.Data
@inject UserCollectionService UserCollectionService

<h3>Welcome to Blazor Server!</h3>
<p>Your IP address: @UserCollectionService.UserIpAddress</p>

@code {
    
}